.menu-list-items {
  position: absolute;
  inset: 0;
  padding: 6px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  row-gap: 2px;
}

.sortable-fallback {
  display: none !important;
}
